<p class="text-center display-1 gfont">CHEEZY-TASKS🧀</p>
<nav class="neu mt-5 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="text-warning navbar-brand" href="#">Home</a>
        <button class="navbar-toggler btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#ddPar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="positio-relative end-0 collapse navbar-collapse" id="ddPar">
            <ul class="navbar-nav mx-auto my-auto justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#">SIGNUP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#">ABOUT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        href="#" id="ddCh" role="button">CONTACT</a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="ddCh">
                        <li class="dropdown-item  text-warning" href="#">✉️ adity09@outlook.com</li>
                        <li><a class="dropdown-item text-warning"
                                href="https://www.linkedin.com/in/adityasaxena09">LinkedIn</a></li>
                        <li><a class="dropdown-item text-warning" href="https://www.github.com/maverickreal">GitHub</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>